header {
  width: 100%;
  height: 400px;
  position: relative;
  top: 120px;
  background-color: #f0edcc;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

/* Avatar */
header img {
  display: inline-block;
  position: relative;
  left: 42vw;
  top: 1px
}

/* Name */
header h2 {
  display: inline-block;
  width: 256px;
  text-align: center;
  position: relative;
  left: 42vw;
  top: 1px;
  color: azure;
} 